@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-color:#E7DFD8;
    
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 50px;
}
.navbar{
    display: flex;
    gap: 500px;
}
.navbar-item{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 550;
    font-size: 30px;
}
.main{
    border: 1.7px solid black;
    margin-left: 100px;
    margin-right: 100px;
}
.seção1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.nome{
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 50PX;
}
.descrição{
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.foto{
    width: 400px;
    margin-left: 50px;
}
.main2{
    border: 1.7px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.div2{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 50PX;
}
.descrição2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
}